doctype html
html
  head
    title Map travel time
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css", text="text/css")
    link(rel="stylesheet", href="/css/index.css", text="text/css")
  body
    .map

    //- Expose our GTFS data
    //- TODO: Re-encode data via protobuf and optimize it for our needs as per Mapnificent
    //- DEV: We trim loaded data to prevent empty lines being parsed
    script
      - var fs = require('fs');
      - var jsStringify = require('js-stringify');
      - var readVendorFile = function (filepath) { return fs.readFileSync(__dirname + '/../vendor/' + filepath, 'utf8').trim(); };
      | window.csvStopsStr = !{jsStringify(readVendorFile('sfmta-60/stops.txt'))};
      | window.csvStopTimesStr = !{jsStringify(readVendorFile('sfmta-60/stop_times.txt'))};
      | window.csvTripsStr = !{jsStringify(readVendorFile('sfmta-60/trips.txt'))};

    //- Load our application
    script(src="/js/index.js")
    script.
      window.app = new window.Application({
        el: document.querySelector('.map'),
        csvStopsStr: window.csvStopsStr,
        csvStopTimesStr: window.csvStopTimesStr,
        csvTripsStr: window.csvTripsStr
      });
