doctype html
html
  head
    title Map travel time
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css", text="text/css")
    link(rel="stylesheet", href="/css/index.css", text="text/css")
  body
    .map

    //- Expose our GTFS data
    //- TODO: Re-encode data via protobuf and optimize it for our needs as per Mapnificent
    script
      - var fs = require('fs');
      - var jsStringify = require('js-stringify');
      - var csvStopData = fs.readFileSync(__dirname + '/../vendor/sfmta-60/stops.txt', 'utf8');
      | window.csvStopData = !{jsStringify(csvStopData)};

    //- Load our application
    script(src="/js/index.js")
    script.
      window.app = new window.Application({
        el: document.querySelector('.map'),
        csvStopData: window.csvStopData
      });
