doctype html
html
  head
    title Map travel time
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css", text="text/css")
    link(rel="stylesheet", href="/css/index.css", text="text/css")
  body
    .map

    //- Load our application
    script(src="/js/index.js")
    script.
      window.app = new window.Application({
        el: document.querySelector('.map')
      });

    //- Load our GTFS data via JSON-P
    script.
      window.console.time('JSON-P loading');
    script(src="/js/json-p.js")
    script.
      //- With protobuf: 2600-3000ms total without even parsing stop times
      //- With flat array: it's 2000 on average with occasional 3600
      window.console.timeEnd('JSON-P loading');
