doctype html
html
  head
    title Map travel time
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css", text="text/css")
    link(rel="stylesheet", href="/css/index.css", text="text/css")
  body
    script(src="/js/index.js")
